<div class="Container">
  <div class="HeaderBackground">
    <div class="flex flex-nowrap HeaderMenu">
      <div class="flex-none w-15 h-15"></div>  
      <div class="grow h-15 HeaderLogo bg-no-repeat"></div>
      <div class="grow w-15 h-15">Menu</div>
      <div class="flex-none h-50"></div>
    </div>
  </div>
</div>

<style>
  .Container {
    height: 570px;
    width: 100%;
  }
  .HeaderBackground {
    background-image: url("../public/images/HeaderHome.jpg");
    height: 570px;
    width: 100%;
    /*filter: sepia();*/
    opacity: 0.87;
    border-radius: 0px 0px 150px 0px;
  }
  .HeaderMenu {
    padding-top: 55px;
  }
  .HeaderLogo {
    background-image: url("../public/images/Logo.png");
    height: 650px;
    width: 100%;
    background-size: 250px;
  }
</style>
